In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

In [4]:
wh = pd.read_csv("/content/drive/MyDrive/dataset/Weather_ Data.csv")

In [5]:
wh.head(5)

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

find all the unique wind speed values

In [6]:
wh.head()

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

In [7]:
wh.info

<bound method DataFrame.info of              Date/Time  Temp_C  ...  Press_kPa               Weather
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8779  12/31/2012 19:00     0.1  ...     100.13                  Snow
8780  12/31/2012 20:00     0.2  ...     100.03                  Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                  Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                  Snow
8783  12/31/2012 23:00     0.0  ...      99.89                  Snow

[8784 rows x 8 columns]>

In [8]:
wh.nunique() #to find unique value

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [9]:
wh["Wind Speed_km/h"].nunique()

34

In [10]:
wh["Wind Speed_km/h"].unique() #answer

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

find the number of times weather is exactly clear

In [11]:
wh.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [12]:
wh["Weather"]

0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object

In [13]:
wh["Weather"].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [14]:
wh["Weather"].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Rain,Snow,Ice Pellets                         4
Snow Showers,Fog                              4
Freezing Fog                                  4
Moderate Snow                                 4
Freezing Rain,Fog                             4
Thunderstorms,Rain Showers,Fog                3
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Moderate Snow,Blowing Snow                    2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Freezing Rain,Haze                            2
Rain Showers,Fog                              1
Thunderstorms,Rain,Fog                        1
Rain,Snow,Fog                                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Name: Weather, dtype: int64

In [15]:
wh.head(2)
wh[wh.Weather == "Clear"] #filter data

             Date/Time  Temp_C  ...  Press_kPa  Weather
67      1/3/2012 19:00   -16.9  ...     101.74    Clear
114     1/5/2012 18:00    -7.1  ...     100.71    Clear
115     1/5/2012 19:00    -9.2  ...     100.80    Clear
116     1/5/2012 20:00    -9.8  ...     100.83    Clear
117     1/5/2012 21:00    -9.0  ...     100.83    Clear
...                ...     ...  ...        ...      ...
8646   12/26/2012 6:00   -13.4  ...     102.47    Clear
8698  12/28/2012 10:00    -6.1  ...     101.27    Clear
8713   12/29/2012 1:00   -11.9  ...     101.31    Clear
8714   12/29/2012 2:00   -11.8  ...     101.33    Clear
8756  12/30/2012 20:00   -13.8  ...     101.52    Clear

[1326 rows x 8 columns]

In [16]:
wh.groupby("Weather").get_group("Clear").head(2) #filter using group by

          Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
67   1/3/2012 19:00   -16.9             -24.8  ...           25.0     101.74    Clear
114  1/5/2012 18:00    -7.1             -14.4  ...           25.0     100.71    Clear

[2 rows x 8 columns]

find the number of times wind speed was exactly 4 km/h

In [17]:
wh.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [18]:
wh.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [19]:
wh["Wind Speed_km/h"] == 4

0        True
1        True
2       False
3       False
4       False
        ...
8779    False
8780    False
8781    False
8782    False
8783    False
Name: Wind Speed_km/h, Length: 8784, dtype: bool

In [20]:
wh.groupby("Wind Speed_km/h").get_group(4).head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

no of null values

In [21]:
wh.isnull().sum() #the data has no nul values

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

renaming column from weather to weather-condition

In [22]:
wh.rename(columns={"Weather":"Weather-condition"},inplace =True)

In [23]:
wh.head(2)

       Date/Time  Temp_C  ...  Press_kPa  Weather-condition
0  1/1/2012 0:00    -1.8  ...     101.24                Fog
1  1/1/2012 1:00    -1.8  ...     101.24                Fog

[2 rows x 8 columns]

what is the mean of visibility

In [24]:
wh.nunique()

Date/Time            8784
Temp_C                533
Dew Point Temp_C      489
Rel Hum_%              83
Wind Speed_km/h        34
Visibility_km          24
Press_kPa             518
Weather-condition      50
dtype: int64

In [25]:
wh["Visibility_km"].mean()

27.66444672131151

what is the standard deviation of pressure

In [26]:
wh["Press_kPa"].std()

0.8440047459486474

what is the varience of relative humidity

In [27]:
wh.head(2)

       Date/Time  Temp_C  ...  Press_kPa  Weather-condition
0  1/1/2012 0:00    -1.8  ...     101.24                Fog
1  1/1/2012 1:00    -1.8  ...     101.24                Fog

[2 rows x 8 columns]

In [28]:
wh["Rel Hum_%"].var()

286.2485501984998

find all the instances snow was recorded

In [29]:
wh.head(2)

       Date/Time  Temp_C  ...  Press_kPa  Weather-condition
0  1/1/2012 0:00    -1.8  ...     101.24                Fog
1  1/1/2012 1:00    -1.8  ...     101.24                Fog

[2 rows x 8 columns]

In [30]:
wh.groupby("Weather-condition").get_group("Snow")

             Date/Time  Temp_C  ...  Press_kPa  Weather-condition
55       1/3/2012 7:00   -14.0  ...     100.95               Snow
84      1/4/2012 12:00   -13.7  ...     101.25               Snow
86      1/4/2012 14:00   -11.3  ...     100.97               Snow
87      1/4/2012 15:00   -10.2  ...     100.89               Snow
88      1/4/2012 16:00    -9.4  ...     100.79               Snow
...                ...     ...  ...        ...                ...
8779  12/31/2012 19:00     0.1  ...     100.13               Snow
8780  12/31/2012 20:00     0.2  ...     100.03               Snow
8781  12/31/2012 21:00    -0.5  ...      99.95               Snow
8782  12/31/2012 22:00    -0.2  ...      99.91               Snow
8783  12/31/2012 23:00     0.0  ...      99.89               Snow

[390 rows x 8 columns]

In [31]:
wh[wh["Weather-condition"].str.contains("Snow")] #shows all the instances of snow

             Date/Time  Temp_C  ...  Press_kPa  Weather-condition
41      1/2/2012 17:00    -2.1  ...      99.66       Snow Showers
44      1/2/2012 20:00    -5.6  ...     100.07       Snow Showers
45      1/2/2012 21:00    -5.8  ...     100.15       Snow Showers
47      1/2/2012 23:00    -7.4  ...     100.27       Snow Showers
48       1/3/2012 0:00    -9.0  ...     100.35       Snow Showers
...                ...     ...  ...        ...                ...
8779  12/31/2012 19:00     0.1  ...     100.13               Snow
8780  12/31/2012 20:00     0.2  ...     100.03               Snow
8781  12/31/2012 21:00    -0.5  ...      99.95               Snow
8782  12/31/2012 22:00    -0.2  ...      99.91               Snow
8783  12/31/2012 23:00     0.0  ...      99.89               Snow

[583 rows x 8 columns]

find all the instance when the wind speed above 24 and visibilty 25

In [32]:
wh.head(2)

       Date/Time  Temp_C  ...  Press_kPa  Weather-condition
0  1/1/2012 0:00    -1.8  ...     101.24                Fog
1  1/1/2012 1:00    -1.8  ...     101.24                Fog

[2 rows x 8 columns]

In [33]:
wh[(wh["Wind Speed_km/h"]>24) & (wh["Visibility_km"] == 25)]

             Date/Time  Temp_C  ...  Press_kPa  Weather-condition
23      1/1/2012 23:00     5.3  ...      99.31             Cloudy
24       1/2/2012 0:00     5.2  ...      99.26       Rain Showers
25       1/2/2012 1:00     4.6  ...      99.26             Cloudy
26       1/2/2012 2:00     3.9  ...      99.26      Mostly Cloudy
27       1/2/2012 3:00     3.7  ...      99.30      Mostly Cloudy
...                ...     ...  ...        ...                ...
8705  12/28/2012 17:00    -8.6  ...     101.34       Mainly Clear
8753  12/30/2012 17:00   -12.1  ...     101.26       Mainly Clear
8755  12/30/2012 19:00   -13.4  ...     101.47       Mainly Clear
8759  12/30/2012 23:00   -12.1  ...     101.52      Mostly Cloudy
8760   12/31/2012 0:00   -11.1  ...     101.51             Cloudy

[308 rows x 8 columns]

what is the mean value against weather condition of all

In [34]:
wh.head(2)

       Date/Time  Temp_C  ...  Press_kPa  Weather-condition
0  1/1/2012 0:00    -1.8  ...     101.24                Fog
1  1/1/2012 1:00    -1.8  ...     101.24                Fog

[2 rows x 8 columns]

In [36]:
wh.groupby("Weather-condition").mean().head(2)

                     Temp_C  Dew Point Temp_C  ...  Visibility_km   Press_kPa
Weather-condition                              ...
Clear              6.825716          0.089367  ...      30.153243  101.587443
Cloudy             7.970544          2.375810  ...      26.625752  100.911441

[2 rows x 6 columns]

min and max value of all the column against weather conditon

In [37]:
wh.groupby("Weather-condition").min().head(2)

                        Date/Time  Temp_C  ...  Visibility_km  Press_kPa
Weather-condition                          ...
Clear              1/11/2012 1:00   -23.3  ...           11.3      99.52
Cloudy             1/1/2012 17:00   -21.4  ...           11.3      98.39

[2 rows x 7 columns]

In [38]:
wh.groupby("Weather-condition").max().head(2)

                        Date/Time  Temp_C  ...  Visibility_km  Press_kPa
Weather-condition                          ...
Clear               9/9/2012 5:00    32.8  ...           48.3     103.63
Cloudy             9/9/2012 23:00    30.5  ...           48.3     103.65

[2 rows x 7 columns]

show all the weather condition where it is fog

In [39]:
wh.head(2)

       Date/Time  Temp_C  ...  Press_kPa  Weather-condition
0  1/1/2012 0:00    -1.8  ...     101.24                Fog
1  1/1/2012 1:00    -1.8  ...     101.24                Fog

[2 rows x 8 columns]

In [42]:
wh["Weather-condition"].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [49]:
wh[wh["Weather-condition"].str.contains("Fog")]

             Date/Time  Temp_C  ...  Press_kPa     Weather-condition
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8739   12/30/2012 3:00    -9.1  ...     100.30              Snow,Fog
8740   12/30/2012 4:00    -9.3  ...     100.28              Snow,Fog
8741   12/30/2012 5:00    -9.1  ...     100.32              Snow,Fog
8742   12/30/2012 6:00    -9.3  ...     100.39              Snow,Fog
8770  12/31/2012 10:00    -7.4  ...     101.05              Snow,Fog

[426 rows x 8 columns]